#nav-icon-visible{
 	font-size: 2.1rem;
 	display:normal;
 }

.card .card-toolbar {
 display:flex;
 padding:24px;
 justify-content:space-between;
 
}

.card .product_quantity{
	float: right;
}

.table_overflow{
	overflow-y:auto;
	overflow-x:auto;
}

.btn {
	float:right;
}



@media only screen and (min-width: 993px) {
 nav a.sidenav-trigger {
  display:inline;
 }
}

@media only screen and (max-width: 379px){
  #nav-icon-visible{
 	display: none;
 }
}