{% extends 'base.html' %}
{% block content %}
<center><h4><i class="material-icons prefix" style="font-size: 2.1rem">poll</i> Categories</h4></center>
<div class="card">
	
</div>
<div class="row equal-height-grid">
	<div class="col s12">
		<div class="card">
			<div class="card-toolbar">
				<div class="card-title">
					Categories
				</div>
				<div class="card-toolbar-actions">
					<div class="dropdown-trigger" data-target="products-dropdown">
						<i class="material-icons">more_vert</i>
					</div>
					<ul id="products-dropdown" class="dropdown-content" tabindex="0" style="">
						<li tabindex="0"><a href="{{url_for('add_product')}}">Add new</a></li>
						<li tabindex="0"><a href="#!">Update</a></li>
						<li tabindex="0"><a href="#!">Delete</a></li>
					</ul>
				</div>
			</div>
			<div class="table_overflow">
				<table class="striped">
					<thead>
						<tr>
							<!--empty cell for structural purposes-->
							
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						{% for cat in categories %}
						
						<tr>
							<td>{{cat.category_name}}</td>
							
						</tr>

						{% endfor %}
					</table>
				</div>	
			</div>
		</div>
		{% endblock %}


