{% extends 'base.html' %}
{% block content %}
<h4 class="center"><i class="material-icons prefix">assessment</i> Categories</h4>
<div class="row equal-height-grid">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<div class="nav-wrapper">
					<div id="add-product-card">
						<a href="{{url_for('add_category')}}">
							<button class="btn waves-effect waves-light" id="add-product-button" type="submit" name="action">Add Category 
								<i class="material-icons right">playlist_add</i>
							</button>
						</a>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>
<div class="row equal-height-grid">	
	<div class="col s12">
		<div class="card">
			<ul>

<!-- displays categories in a defined style per result -->
				{% for category in categories %}
				<li>
					<div class="collapsible-header">
						<a href="{{url_for('edit_category', category_id=category._id)}}" class="btn-floating waves-effect waves-light amber"><i class="category-edit material-icons">edit</i></a>
						<div class="category-header"><h6>{{category.category_name}}</h6></div>	
					</div>
					<div class="collapsible-body"><span><a class="btn-floating btn-medium waves-effect waves-light amber" ><i class="material-icons right">edit</i></a></span></div>
				</li>
				{% endfor %}
			</ul>	
		</div>
	</div>
</div>
{% endblock %}



