{% extends 'base.html' %}
{% block content %}
<center><h4>Dashboard</h4></center>
<div class="card">
	<div class="card-content">
		<div class="nav-wrapper">
			<form>
				<div class="input-field">
					<input id="search" type="search" required placeholder="Find a Product..">
					<label class="label-icon" for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</form>
		</div>    
	</div>
</div>

<div class="row equal-height-grid">
	<div class="col l6 s12">
		<div class="card">
			<div class="card-toolbar">
				<div><a href="{{url_for('get_products')}}" class="card-title">Products</a></div>
				<div class="card-toolbar-actions">
					<div class="dropdown-trigger" data-target="products-dropdown">
						<i class="material-icons">more_vert</i>
					</div>
					<ul id="products-dropdown" class="dropdown-content" tabindex="0" style="">
						<li tabindex="0"><a href="{{url_for('add_product')}}">Add new</a></li>
						<li tabindex="0"><a href="#!">Update</a></li>
						<li tabindex="0"><a href="#!">Delete</a></li>
					</ul>
				</div>
			</div>

			<div class="card-content">
				<div class="row row-vertical-center no-margin">
					
					<div class="col s12 m6 l12">
						<canvas id="barChart" width="150" style="display: block; width: 150px; height: 75px;" height="75" class="chartjs-render-monitor"></canvas>
					</div>

					<div class="col s12 m6 l12">
						{% for product in products %}
						<ul>
							<span class="product_name">{{product.product_name}}</span>
							<span class="product_quantity">{{product.product_quantity}}</span>
						</ul>
						{% endfor %}
					</div>
					
				</div>
			</div>

		</div>
	</div>
	<div class="col l6 s12">
		<div class="card">
			<div class="card-toolbar">
				<div><a href="{{url_for('get_categories')}}" class="card-title">Categories</a></div>
				<div class="card-toolbar-actions">
					<div class="dropdown-trigger" data-target="products-dropdown">
						<i class="material-icons">more_vert</i>
					</div>
					<ul id="products-dropdown" class="dropdown-content" tabindex="0">
						<li tabindex="0"><a href="#!">Add new</a></li>
						<li tabindex="0"><a href="#!">Update</a></li>
						<li tabindex="0"><a href="#!">Delete</a></li>
					</ul>
				</div>
			</div>
			<div class="card-content">
				<div class="row row-vertical-center no-margin">
					<div class="col s12 m6 l12">
						<canvas id="doughnutChart" width="150" style="display: block; width: 150px; height: 75px;" height="75" class="chartjs-render-monitor"></canvas>
					</div>
					<div class="col s12 m6 l12">
						{% for category in categories %}

						<ul>
							<span class="product_name">{{category.category_name}}</span>
							<span class="product_quantity">{{category.product_quantity}}</span>
						</ul>
						{% endfor %}
					</div>

				</div>
			</div>
		</div>
	</div>
	
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<!--Inline javascript charts. required for using jinja template shorthand-->

<script>
	var ctx = document.getElementById('barChart').getContext('2d');
	var barChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: [{% for product in bar_product %}
			"{{product.product_name}}",
			{% endfor %}],
			datasets: [{
				label: '{{bar_name}}',
				data: [{% for product in bar_quantity %}
				"{{product.product_quantity}}",
				{% endfor %}],
				backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(255, 206, 86, 0.2)',
				'rgba(75, 192, 192, 0.2)',
				'rgba(153, 102, 255, 0.2)',
				'rgba(255, 159, 64, 0.2)'
				],
				borderColor: [
				'rgba(255, 99, 132, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)',
				'rgba(75, 192, 192, 1)',
				'rgba(153, 102, 255, 1)',
				'rgba(255, 159, 64, 1)'
				],
				borderWidth: 1
			}]
		},
		options: {
			responsive: true,
			animation: {
				animateScale: true,
				animateRotate: true
			}
		}
	});
</script>
<script>
	var ctx = document.getElementById('doughnutChart').getContext('2d');
	var pieChart = new Chart(ctx, {
		type: 'doughnut',
		data: {
			labels: [{% for category in pie_category %}
			"{{category.category_name}}",
			{% endfor %}],
			datasets: [{
				label: '{{pie_name}}',
				data: [{% for quantity in pie_quantity %}
				"{{quantity.product_quantity}}",
				{% endfor %}],
				backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(255, 206, 86, 0.2)',
				'rgba(75, 192, 192, 0.2)',
				'rgba(153, 102, 255, 0.2)',
				'rgba(255, 159, 64, 0.2)'
				],
				borderColor: [
				'rgba(255, 99, 132, 1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)',
				'rgba(75, 192, 192, 1)',
				'rgba(153, 102, 255, 1)',
				'rgba(255, 159, 64, 1)'
				],
				borderWidth: 1
			}]
		},
		options: {
			responsive: true,
			animation: {
				animateScale: true,
				animateRotate: true
			}
		}
	});
</script>
<script type="text/javascript" src="static/line_chart.js"></script>
{% endblock %}
