{% extends 'base.html' %}
{% block content %}
    {% for product in products %}
    	{{product.product_name}}
    	{{product.product_description}}
    	{{product.manufacturer_name}}
    	{{product.supplier_name}}
    	{{product.category_name}}
    	{{product.product_price}}
    	{{product.product_quantity}}
    	{{product.product_status}}
    	{{product.product_EAN}}
    {% endfor %}
    <div class="row equal-height-grid">
	    <div class="col l4 s12">
	    		<div class="card">
	    			<div class="card-toolbar">
	    				<div class="card-title">
	    					Manufacturers
	    				</div>
	    				<div class="card-toolbar-actions">
	    					<div class="dropdown-trigger" data-target="products-dropdown">
	    						<i class="material-icons">more_vert</i>
	    					</div>
	    					<ul id="products-dropdown" class="dropdown-content" tabindex="0" style="">
	    						<li tabindex="0"><a href="#!">Guitars</a></li>
	    						<li tabindex="0"><a href="#!">Synths</a></li>
	    					</ul>
	    				</div>
	    			</div>
	    			<div class="card-content">
	    				<div class="row row-vertical-center no-margin">
	    					<div class="col s12 m6 l12">
	    						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
	    					</div>
	    					<div class="col s12 m6 l12">
	    						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col l4 s12">
	    		<div class="card">
	    			<div class="card-toolbar">
	    				<div class="card-title">
	    					Products
	    				</div>
	    				<div class="card-toolbar-actions">
	    					<div class="dropdown-trigger" data-target="products-dropdown">
	    						<i class="material-icons">more_vert</i>
	    					</div>
	    					<ul id="products-dropdown" class="dropdown-content" tabindex="0" style="">
	    						<li tabindex="0"><a href="#!">Guitars</a></li>
	    						<li tabindex="0"><a href="#!">Synths</a></li>
	    					</ul>
	    				</div>
	    			</div>
	    			<div class="card-content">
	    				<div class="row row-vertical-center no-margin">
	    					<div class="col s12 m6 l12">
	    						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
	    					</div>
	    					<div class="col s12 m6 l12">
	    						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col l4 s12">
	    		<div class="card">
	    			<div class="card-toolbar">
	    				<div class="card-title">
	    					Categories
	    				</div>
	    				<div class="card-toolbar-actions">
	    					<div class="dropdown-trigger" data-target="products-dropdown">
	    						<i class="material-icons">more_vert</i>
	    					</div>
	    					<ul id="products-dropdown" class="dropdown-content" tabindex="0">
	    						<li tabindex="0"><a href="#!">Guitars</a></li>
	    						<li tabindex="0"><a href="#!">Synths</a></li>
	    					</ul>
	    				</div>
	    			</div>
	    			<div class="card-content">
	    				<div class="row row-vertical-center no-margin">
	    					<div class="col s12 m6 l12">
	    						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
	    					</div>
	    					<div class="col s12 m6 l12">
	    						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	
    	</div>
{% endblock %}