		{% extends 'base.html' %}
		{% block content %}
		<center><h4><i class="material-icons prefix" style="font-size: 2.1rem">assignment</i> Products</h4></center>
		<div class="row equal-height-grid">
			<div class="col l6 s12">
				<div class="card">
					<div class="card-content">
						<div class="nav-wrapper">
							<div id="add-product-card">
								<a href="{{url_for('add_product')}}">
									<button class="btn waves-effect waves-light" id="add-product-button" type="submit" name="action">Add Product 
										<i class="material-icons right">playlist_add</i>
									</button>
								</a>
							</div>
						</div> 
					</div>
				</div>
			</div>
			<div class="col l6 s12">
				<div class="card">
					<div class="card-content ">
						<div class="nav-wrapper">
							<form action="{{url_for('search_products')}}" method="POST">
								<div class="input-field">
									<input id="search" type="search" required placeholder="Find a Product..">
									<label class="label-icon" for="search"><i class="material-icons">search</i></label>
									<i class="material-icons">close</i>
								</div>
							</form>

						</div> 
						
					</div>
				</div>
			</div>
			
		</div>
		<div class="row equal-height-grid">	
			<div class="col s12">
				<div class="card">
					<div class="table_overflow">
						<table class="striped">
							<thead>
								<tr>
									<!--empty cell for structural purposes-->
									<th>Name</th>
									<th>Desciption</th>
									<th>Manufacturer</th>
									<th>Supplier</th>
									<th>Category</th>
									<th>Price</th>
									<th>Quantity</th>
									<th>Status</th>
									<th>EAN</th>
								</tr>
							</thead>
							{% for object in results %}
							<tbody>
								<tr>
									<tr>
										
									</tr>
									<td>{{object.product_name}}</td>
									<td>{{object.product_description}}</td>
									<td>{{object.manufacturer_name}}</td>
									<td>{{object.supplier_name}}</td>
									<td>{{object.category_name}}</td>
									<td>€{{object.product_price}}</td>
									<td>{{object.product_quantity}}</td>
									<td>{{object.product_status}}</td>
									<td>{{object.product_EAN}}</td>
								</tr>
							{% endfor %}
							</table>
						</div>	
					</div>
				</div>

				{% endblock %}



