{% extends 'base.html' %}
{% block content %}
<h4 class="center"><i class="material-icons prefix">insert_chart</i> Results</h4>
<div class="row equal-height-grid">
	<div class="col s12">
		<div class="card">
			<div class="card-content ">
				<div class="nav-wrapper">
					<form action="{{url_for('search_products')}}" method="POST">
						<div class="input-field">
							<input id="search" type="search" name="input_search" required placeholder="Find a Product..">
							<label class="label-icon" for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>

				</div> 
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">	
			<div class="card">
				<div class="card-content">
					<span class="card-title">No products found</span>
					<p>Your search resulted in 0 products being found. Try again using the Brand name, Supplier name, or details from the description.</p>
				</div>
				<div class="card-action">
					<a href="{{url_for('get_dashboard')}}">Dashboard</a>
					<a href="{{url_for('get_products')}}">Products</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}



