{% extends 'base.html' %}
{% block content %}
<h4 class="center"><i class="material-icons prefix">insert_chart</i> Results</h4>
<div class="row equal-height-grid">
	<div class="col s12">
		<div class="card">
			<div class="card-content ">
				<div class="nav-wrapper">
					<form action="{{url_for('search_products')}}" method="POST">
						<div class="input-field">
							<input id="search" type="search" name="input_search" placeholder="Find a Product.." required >
							<label class="label-icon" for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</div> 
			</div>
		</div>
	</div>
</div>

<div class="row equal-height-grid">	
	<div class="col s12">
		<div class="card">
			<div class="table_overflow">
				<table id="productsTable" class="striped">
					<thead>
						<tr>
							<!--empty cell for structural purposes-->
							<th>
								Options
							</th>
							<th onclick="sortTable(0)">Name</th>
							<th>Desciption</th>
							<th onclick="sortTable(1)">Manufacturer</th>
							<th onclick="sortTable(2)">Supplier</th>
							<th onclick="sortTable(3)">Category</th>
							<th onclick="sortTable(4)">Price</th>
							<th onclick="sortTable(5)">Quantity</th>
							<th onclick="sortTable(6)">Status</th>
							<th>EAN</th>
						</tr>
					</thead>
					{% for product in results %}
					<tbody>
						<tr>
							<td>
								<a class="btn-floating btn-medium waves-effect waves-light modal-trigger amber" href="{{url_for('edit_product', product_id=product._id)}}"><i class="material-icons right">edit</i></a>
							</td>
							<td>{{product.product_name}}</td>
							<td>{{product.product_description}}</td>
							<td>{{product.manufacturer_name}}</td>
							<td>{{product.supplier_name}}</td>
							<td>{{product.category_name}}</td>
							<td>€{{product.product_price}}</td>
							<td>{{product.product_quantity}}</td>
							<td>{{product.product_status}}</td>
							<td>{{product.product_EAN}}</td>
						</tr>
					</tbody>	
					{% endfor %}
				</table>
			</div>	
		</div>
	</div>
</div>
{% endblock %}



